[submodule "stm32cubef4"]
	path = stm32cubef4
	url = https://github.com/ITS-BRD/stm32cubef4.git
[submodule "ITS_BRD_LIB"]
	path = ITS_BRD_LIB
	url = https://github.com/ITS-BRD/its_brd_lib.git
[submodule "DisplayWaveshare"]
	path = DisplayWaveshare
	url = https://github.com/ITS-BRD/DisplayWaveshare.git
[submodule "ITS_Keil_prj_base"]
	path = ITS_Keil_prj_base
	url = https://github.com/ITS-BRD/ITS_Keil_prj_base.git
[submodule "lwip"]
	path = lwip
	url = https://github.com/ITS-BRD/ITS_Keil_prj_base.git
